
/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

div {
    background-image: url('caminho/para/imagem-de-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  

body {
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contacto button {
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #303F9F ; 
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: white;
}

h2.titulo {
    color: white;
    font-size: 33px;
    text-align: center;
    margin-top: 70px;
    text-shadow: 1px 1px 2px #303F9F;
}


/* Cabeçalho */

header {
    padding: 40px 4%;
}

header .logo img{
    width: 70px;
    height: auto;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 80px;
}

header a {
    color: white;
    text-decoration: none;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header nav ul li a{
    margin-right: 90px;
    color: white;
    text-decoration: none;
}

.btn-contacto button:hover {
    box-shadow: 0px 0px 8px #303F9F);
    transform: scale(1.05);
}



/* Home */

section.pagina-principal {
    padding: 40px 4%;
}

section.pagina-principal .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.pagina-principal h1 {
    color: white;
    font-size: 43px;
}


.pagina-principal h1 span {
    color: #303F9F;
}

.pagina-principal .txt-pagina-principal h1 span {
    color: #303F9F;
}

.pagina-principal .txt-pagina-principal p {
    color: white;
    margin: 40px 0;
    margin-right: 150px;
}

.pagina-principal .img-pagina-principal img {
    position: relative;
    margin-top: 80px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 12px 5px #303F9F;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 10px;
    }
}

/* Specialties */

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 30px;
    width: 200px;
    min-height: 200px;
    border-radius: 20px;
    margin-top: 70px;
    transition: .2s;
    margin-left: 45px;
    text-align: center;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px white;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    margin-bottom: 15px;
    color:#303F9F ;
}

.especialidades .especialidades-box h3 {
    font-size: 25px;
    margin: 15px 0;
    text-align: center;
}

.especialidades .especialidades-box p {
    font-size: 15px;
}

/* About */

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #303F9F;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .img-sobre img {
    height: auto;
    margin-top: 80px;
    width: 310px;
    border-radius: 10px;
    box-shadow: 0 0 12px 5px #303F9F;
}
