body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.MenuPrincipal {
    width: 100%;
    background-color: #5C068C;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 0 auto;
    width: 980px;
}

.logo img {
    width: 63px;
    margin-right: 20px;
}

.redesSociais ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.redesSociais ul li {
    list-style: none;
    margin-left: 10px; /* Ajuste conforme necessário para adicionar espaçamento entre as redes sociais */
}

.redesSociais ul li img {
    width: 45px;
    height: auto;
}
